<a href="https://colab.research.google.com/github/KietHuynh02/EXERCISE_WEEK_2/blob/main/EXERCISE_WEEK_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url= 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)

In [ ]:
data[data['NOC']=='AUT']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
49,1928,St. Moritz,Skating,Figure skating,AUT,individual,M,Silver
50,1928,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver
...,...,...,...,...,...,...,...,...
2079,2006,Turin,Skiing,Nordic Combined,AUT,Team,M,Gold
2080,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Gold
2081,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Silver
2082,2006,Turin,Skiing,Ski Jumping,AUT,K120 team (90m),M,Gold
2083,2006,Turin,Skiing,Snowboard,AUT,Giant parallel slalom,M,Bronze

In [ ]:
data_AUT = data[data['NOC']=='AUT'].count()
data_AUT

Year            185
City            185
Sport           185
Discipline      185
NOC             185
Event           185
Event gender    185
Medal           185
dtype: int64

In [ ]:
data[(data['NOC']=='AUT')&(data['Medal']=='Gold')] # nÆ°á»›c Ãšc cÃ³ huy chÆ°Æ¡ng vÃ ng

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
90,1932,Lake Placid,Skating,Figure skating,AUT,individual,M,Gold
133,1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,individual,M,Gold
186,1948,St. Moritz,Skiing,Alpine Skiing,AUT,alpine combined,W,Gold
254,1952,Oslo,Skiing,Alpine Skiing,AUT,downhill,W,Gold
258,1952,Oslo,Skiing,Alpine Skiing,AUT,slalom,M,Gold
319,1956,Cortina d'Ampezzo,Skating,Figure skating,AUT,pairs,X,Gold
321,1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,downhill,M,Gold
323,1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,giant slalom,M,Gold
327,1956,Cortina d'Ampezzo,Skiing,Alpine Skiing,AUT,slalom,M,Gold
393,1960,Squaw Valley,Skiing,Alpine Skiing,AUT,slalom,M,Gold
472,1964,Innsbruck,Luge,Luge,AUT,doubles,X,Gold
476,1964,Innsbruck,Skiing,Alpine Skiing,AUT,downhill,M,Gold
478,1964,Innsbruck,Skiing,Alpine Skiing,AUT,downhill,W,Gold
482,1964,Innsbruck,Skiing,Alpine Skiing,AUT,slalom,M,Gold
576,1968,Grenoble,Luge,Luge,AUT,singles,M,Gold
577,1968,Grenoble,Skating,Figure skating,AUT,individual,M,Gold
579,1968,Grenoble,Skiing,Alpine Skiing,AUT,downhill,W,Gold
680,1972,Sapporo,Skating,Figure skating,AUT,individual,W,Gold
786,1976,Innsbruck,Skiing,Alpine Skiing,AUT,downhill,M,Gold
788,1976,Innsbruck,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Gold
897,1980,Lake Placid,Skiing,Alpine Skiing,AUT,downhill,M,Gold
899,1980,Lake Placid,Skiing,Alpine Skiing,AUT,downhill,W,Gold
902,1980,Lake Placid,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Gold
1130,1988,Calgary,Skiing,Alpine Skiing,AUT,alpine combined,M,Gold
1132,1988,Calgary,Skiing,Alpine Skiing,AUT,alpine combined,W,Gold
1135,1988,Calgary,Skiing,Alpine Skiing,AUT,super-G,W,Gold
1266,1992,Albertville,Bobsleigh,Bobsleigh,AUT,four-man,M,Gold
1269,1992,Albertville,Luge,Luge,AUT,singles,W,Gold
1272,1992,Albertville,Skiing,Alpine Skiing,AUT,alpine combined,W,Gold
1275,1992,Albertville,Skiing,Alpine Skiing,AUT,downhill,M,Gold
1279,1992,Albertville,Skiing,Alpine Skiing,AUT,slalom,W,Gold
1285,1992,Albertville,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Gold
1440,1994,Lillehammer,Skating,Speed skating,AUT,1500m,W,Gold
1443,1994,Lillehammer,Skiing,Alpine Skiing,AUT,slalom,M,Gold
1623,1998,Nagano,Skiing,Alpine Skiing,AUT,alpine combined,M,Gold
1625,1998,Nagano,Skiing,Alpine Skiing,AUT,giant slalom,M,Gold
1629,1998,Nagano,Skiing,Alpine Skiing,AUT,super-G,M,Gold
1833,2002,Salt Lake City,Skiing,Alpine Skiing,AUT,downhill,M,Gold
1835,2002,Salt Lake City,Skiing,Alpine Skiing,AUT,giant slalom,M,Gold
1839,2002,Salt Lake City,Skiing,Cross Country S,AUT,30km mass start,M,Gold
2061,2006,Turin,Luge,Luge,AUT,doubles,X,Gold
2065,2006,Turin,Skiing,Alpine Skiing,AUT,downhill,W,Gold
2067,2006,Turin,Skiing,Alpine Skiing,AUT,giant slalom,M,Gold
2069,2006,Turin,Skiing,Alpine Skiing,AUT,slalom,M,Gold
2075,2006,Turin,Skiing,Alpine Skiing,AUT,super-G,W,Gold
2078,2006,Turin,Skiing,Nordic Combined,AUT,Individual sprint,M,Gold
2079,2006,Turin,Skiing,Nordic Combined,AUT,Team,M,Gold
2080,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Gold
2082,2006,Turin,Skiing,Ski Jumping,AUT,K120 team (90m),M,Gold

In [ ]:
data[(data['NOC']=='AUT')&(data['Medal']=='Silver')] # nÆ°á»›c Ãšc cÃ³ huy chÆ°Æ¡ng báº¡c

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
49,1928,St. Moritz,Skating,Figure skating,AUT,individual,M,Silver
50,1928,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver
52,1928,St. Moritz,Skating,Figure skating,AUT,pairs,X,Silver
91,1932,Lake Placid,Skating,Figure skating,AUT,individual,W,Silver
...,...,...,...,...,...,...,...,...
2070,2006,Turin,Skiing,Alpine Skiing,AUT,slalom,M,Silver
2072,2006,Turin,Skiing,Alpine Skiing,AUT,slalom,W,Silver
2073,2006,Turin,Skiing,Alpine Skiing,AUT,super-G,M,Silver
2077,2006,Turin,Skiing,Nordic Combined,AUT,Individual,M,Silver
2081,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Silver

In [ ]:
data[(data['NOC']=='AUT')&(data['Medal']=='Bronze')] # nÆ°á»›c Ãšc cÃ³ huy chÆ°Æ¡ng Ä‘á»“ng

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
51,1928,St. Moritz,Skating,Figure skating,AUT,pairs,X,Bronze
132,1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,individual,M,Bronze
135,1936,Garmisch-Partenkirchen,Skating,Speed skating,AUT,10000m,M,Bronze
183,1948,St. Moritz,Skating,Figure skating,AUT,individual,M,Bronze
185,1948,St. Moritz,Skiing,Alpine Skiing,AUT,alpine combined,W,Bronze
...,...,...,...,...,...,...,...,...
2068,2006,Turin,Skiing,Alpine Skiing,AUT,slalom,M,Bronze
2071,2006,Turin,Skiing,Alpine Skiing,AUT,slalom,W,Bronze
2074,2006,Turin,Skiing,Alpine Skiing,AUT,super-G,W,Bronze
2076,2006,Turin,Skiing,Cross Country S,AUT,50km,M,Bronze
2083,2006,Turin,Skiing,Snowboard,AUT,Giant parallel slalom,M,Bronze

In [ ]:
data['Year'].unique()

array([1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972,
       1976, 1980, 1984, 1988, 1992, 1994, 1998, 2002, 2006])

In [ ]:
data['City'].unique()

array(['Chamonix', 'St. Moritz', 'Lake Placid', 'Garmisch-Partenkirchen',
       'Oslo', "Cortina d'Ampezzo", 'Squaw Valley', 'Innsbruck',
       'Grenoble', 'Sapporo', 'Sarajevo', 'Calgary', 'Albertville',
       'Lillehammer', 'Nagano', 'Salt Lake City', 'Turin'], dtype=object)

In [ ]:
data['Discipline'].unique()

array(['Figure skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon',
       'Speed skating', 'Cross Country S', 'Curling', 'Nordic Combined',
       'Ski Jumping', 'Skeleton', 'Alpine Skiing', 'Luge',
       'Short Track S.', 'Freestyle Ski.', 'Snowboard'], dtype=object)

In [ ]:
data['Event'].unique()

array(['individual', 'pairs', 'four-man', 'ice hockey', 'military patrol',
       '10000m', '1500m', '5000m', '500m', 'combined (4 events)', '18km',
       'curling', '50km', 'K90 individual (70m)', 'five-man', 'two-man',
       '4x10km relay', 'alpine combined', 'downhill', 'slalom',
       'giant slalom', '10km', '30km mass start', '3x5km relay', '15km',
       '1000m', '20km', '3000m', 'doubles', 'singles', '5km',
       'K120 individual (90m)', '4x7.5km relay', '4x5km relay',
       'ice dancing', 'super-G', 'Team', 'K120 team (90m)', '3000m relay',
       '5000m relay', '3x7.5km relay', '7.5km', '15km mass start', '30km',
       'Combined 5km + 10km pursuit', 'moguls', '10km pursuit',
       'Combined 10km + 15km pursuit', 'aerials', 'giant-slalom',
       'Half-pipe', 'sprint', '5km pursuit', '12.5km pursuit',
       'Giant parallel slalom', 'Sprint 1.5km', 'sprint 1.5km',
       'Alpine combined', 'Individual', 'Individual sprint',
       'Team pursuit', 'Team sprint', 'Snowboard Cross',
       'Combined 7.5 + 7.5km mass start', '4x6km relay',
       '12.5km mass start', 'Combined 15 + 15km mass start'], dtype=object)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [ ]:
data.describe

<bound method NDFrame.describe of       Year      City       Sport      Discipline  NOC            Event  \
0     1924  Chamonix     Skating  Figure skating  AUT       individual
1     1924  Chamonix     Skating  Figure skating  AUT       individual
2     1924  Chamonix     Skating  Figure skating  AUT            pairs
3     1924  Chamonix   Bobsleigh       Bobsleigh  BEL         four-man
4     1924  Chamonix  Ice Hockey      Ice Hockey  CAN       ice hockey
...    ...       ...         ...             ...  ...              ...
2306  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2307  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2308  2006     Turin      Skiing       Snowboard  USA        Half-pipe
2309  2006     Turin      Skiing       Snowboard  USA  Snowboard Cross
2310  2006     Turin      Skiing       Snowboard  USA  Snowboard Cross

     Event gender   Medal
0               M  Silver
1               W    Gold
2               X    Gold
3               M  Bronze
4               M    Gold
...           ...     ...
2306            M  Silver
2307            W    Gold
2308            W  Silver
2309            M    Gold
2310            W  Silver

[2311 rows x 8 columns]>

In [ ]:
data['City'].value_counts()

Turin                     252
Salt Lake City            234
Innsbruck                 214
Nagano                    205
Lillehammer               183
Albertville               171
Lake Placid               157
Calgary                   138
Sarajevo                  117
St. Moritz                109
Grenoble                  106
Sapporo                   105
Squaw Valley               81
Cortina d'Ampezzo          72
Oslo                       67
Garmisch-Partenkirchen     51
Chamonix                   49
Name: City, dtype: int64

HUY CHÆ¯Æ NG Cá»¦A NÆ¯á»šC ÃšC á»ž Tá»ªNG Bá»˜ MÃ”N THAM GIA

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Figure skating')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
49,1928,St. Moritz,Skating,Figure skating,AUT,individual,M,Silver
50,1928,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver
51,1928,St. Moritz,Skating,Figure skating,AUT,pairs,X,Bronze
52,1928,St. Moritz,Skating,Figure skating,AUT,pairs,X,Silver
90,1932,Lake Placid,Skating,Figure skating,AUT,individual,M,Gold
91,1932,Lake Placid,Skating,Figure skating,AUT,individual,W,Silver
132,1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,individual,M,Bronze
133,1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,individual,M,Gold
134,1936,Garmisch-Partenkirchen,Skating,Figure skating,AUT,pairs,X,Silver
183,1948,St. Moritz,Skating,Figure skating,AUT,individual,M,Bronze
184,1948,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver
251,1952,Oslo,Skating,Figure skating,AUT,individual,M,Silver
318,1956,Cortina d'Ampezzo,Skating,Figure skating,AUT,individual,W,Bronze
319,1956,Cortina d'Ampezzo,Skating,Figure skating,AUT,pairs,X,Gold
475,1964,Innsbruck,Skating,Figure skating,AUT,individual,W,Silver
577,1968,Grenoble,Skating,Figure skating,AUT,individual,M,Gold
680,1972,Sapporo,Skating,Figure skating,AUT,individual,W,Gold

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Bobsleigh')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
471,1964,Innsbruck,Bobsleigh,Bobsleigh,AUT,four-man,M,Silver
574,1968,Grenoble,Bobsleigh,Bobsleigh,AUT,four-man,M,Silver
1266,1992,Albertville,Bobsleigh,Bobsleigh,AUT,four-man,M,Gold

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Ice Hockey')]

Empty DataFrame
Columns: [Year, City, Sport, Discipline, NOC, Event, Event gender, Medal]
Index: []

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Biathlon')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1827,2002,Salt Lake City,Biathlon,Biathlon,AUT,10km,M,Bronze

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Nordic Combined')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1136,1988,Calgary,Skiing,Nordic Combined,AUT,individual,M,Silver
1137,1988,Calgary,Skiing,Nordic Combined,AUT,Team,M,Bronze
1280,1992,Albertville,Skiing,Nordic Combined,AUT,individual,M,Bronze
1281,1992,Albertville,Skiing,Nordic Combined,AUT,Team,M,Bronze
1841,2002,Salt Lake City,Skiing,Nordic Combined,AUT,individual,M,Bronze
1842,2002,Salt Lake City,Skiing,Nordic Combined,AUT,sprint,M,Bronze
1843,2002,Salt Lake City,Skiing,Nordic Combined,AUT,Team,M,Bronze
2077,2006,Turin,Skiing,Nordic Combined,AUT,Individual,M,Silver
2078,2006,Turin,Skiing,Nordic Combined,AUT,Individual sprint,M,Gold
2079,2006,Turin,Skiing,Nordic Combined,AUT,Team,M,Gold

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Curling')]

Empty DataFrame
Columns: [Year, City, Sport, Discipline, NOC, Event, Event gender, Medal]
Index: []

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Cross Country S')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1633,1998,Nagano,Skiing,Cross Country S,AUT,10km pursuit,M,Silver
1634,1998,Nagano,Skiing,Cross Country S,AUT,50km,M,Bronze
1839,2002,Salt Lake City,Skiing,Cross Country S,AUT,30km mass start,M,Gold
1840,2002,Salt Lake City,Skiing,Cross Country S,AUT,30km mass start,M,Silver
2076,2006,Turin,Skiing,Cross Country S,AUT,50km,M,Bronze

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Speed skating')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
135,1936,Garmisch-Partenkirchen,Skating,Speed skating,AUT,10000m,M,Bronze
1128,1988,Calgary,Skating,Speed skating,AUT,10000m,M,Silver
1129,1988,Calgary,Skating,Speed skating,AUT,1500m,M,Bronze
1271,1992,Albertville,Skating,Speed skating,AUT,3000m,W,Bronze
1440,1994,Lillehammer,Skating,Speed skating,AUT,1500m,W,Gold
1441,1994,Lillehammer,Skating,Speed skating,AUT,3000m,W,Silver

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Luge')]

      Year            City Sport Discipline  NOC    Event Event gender   Medal
472   1964       Innsbruck  Luge       Luge  AUT  doubles            X    Gold
473   1964       Innsbruck  Luge       Luge  AUT  doubles            X  Silver
474   1964       Innsbruck  Luge       Luge  AUT  singles            W  Bronze
575   1968        Grenoble  Luge       Luge  AUT  doubles            X  Silver
576   1968        Grenoble  Luge       Luge  AUT  singles            M    Gold
785   1976       Innsbruck  Luge       Luge  AUT  doubles            X  Bronze
896   1980     Lake Placid  Luge       Luge  AUT  doubles            X  Bronze
1267  1992     Albertville  Luge       Luge  AUT  singles            M  Bronze
1268  1992     Albertville  Luge       Luge  AUT  singles            M  Silver
1269  1992     Albertville  Luge       Luge  AUT  singles            W    Gold
1270  1992     Albertville  Luge       Luge  AUT  singles            W  Silver
1438  1994     Lillehammer  Luge       Luge  AUT  singles            M  Silver
1439  1994     Lillehammer  Luge       Luge  AUT  singles            W  Bronze
1621  1998          Nagano  Luge       Luge  AUT  singles            W  Bronze
1829  2002  Salt Lake City  Luge       Luge  AUT  singles            M  Bronze
2061  2006           Turin  Luge       Luge  AUT  doubles            X    Gold

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Alpine Skiingg')]

Empty DataFrame
Columns: [Year, City, Sport, Discipline, NOC, Event, Event gender, Medal]
Index: []

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Skeleton')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1828,2002,Salt Lake City,Bobsleigh,Skeleton,AUT,individual,M,Silver

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Ski Jumping')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
395,1960,Squaw Valley,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Bronze
583,1968,Grenoble,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Bronze
584,1968,Grenoble,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Silver
788,1976,Innsbruck,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Gold
789,1976,Innsbruck,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Silver
790,1976,Innsbruck,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Bronze
901,1980,Lake Placid,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Silver
902,1980,Lake Placid,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Gold
1282,1992,Albertville,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Bronze
1283,1992,Albertville,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Silver
1284,1992,Albertville,Skiing,Ski Jumping,AUT,K120 team (90m),M,Silver
1285,1992,Albertville,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Gold
1286,1992,Albertville,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Silver
1445,1994,Lillehammer,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Bronze
1446,1994,Lillehammer,Skiing,Ski Jumping,AUT,K120 team (90m),M,Bronze
1635,1998,Nagano,Skiing,Ski Jumping,AUT,K120 team (90m),M,Bronze
1636,1998,Nagano,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Bronze
2080,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Gold
2081,2006,Turin,Skiing,Ski Jumping,AUT,K120 individual (90m),M,Silver
2082,2006,Turin,Skiing,Ski Jumping,AUT,K120 team (90m),M,Gold

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Snowboard')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1637,1998,Nagano,Skiing,Snowboard,AUT,giant-slalom,W,Bronze
2083,2006,Turin,Skiing,Snowboard,AUT,Giant parallel slalom,M,Bronze

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Freestyle Ski')]

Empty DataFrame
Columns: [Year, City, Sport, Discipline, NOC, Event, Event gender, Medal]
Index: []

In [ ]:
data[(data['NOC']=='AUT')&(data['Discipline']=='Short Track S')]

Empty DataFrame
Columns: [Year, City, Sport, Discipline, NOC, Event, Event gender, Medal]
Index: []

In [ ]:
data[(data['Medal']=='Gold')&(data['NOC']=='AUT')].min()

Year                     1924
City              Albertville
Sport               Bobsleigh
Discipline      Alpine Skiing
NOC                       AUT
Event                   1500m
Event gender                M
Medal                    Gold
dtype: object

In [ ]:
data[(data['Medal']=='Gold')&(data['NOC']=='AUT')].max()

Year                     2006
City                    Turin
Sport                  Skiing
Discipline      Speed skating
NOC                       AUT
Event                 super-G
Event gender                X
Medal                    Gold
dtype: object

In [ ]:
data[(data['Medal']=='Silver')&(data['NOC']=='AUT')].min()

Year                     1924
City              Albertville
Sport               Bobsleigh
Discipline      Alpine Skiing
NOC                       AUT
Event                  10000m
Event gender                M
Medal                  Silver
dtype: object

In [ ]:
data[(data['Medal']=='Silver')&(data['NOC']=='AUT')].max()

Year                     2006
City                    Turin
Sport                  Skiing
Discipline      Speed skating
NOC                       AUT
Event                 super-G
Event gender                X
Medal                  Silver
dtype: object

In [ ]:
data[(data['Medal']=='Bronze')&(data['NOC']=='AUT')].min()

Year                     1928
City              Albertville
Sport                Biathlon
Discipline      Alpine Skiing
NOC                       AUT
Event                  10000m
Event gender                M
Medal                  Bronze
dtype: object

In [ ]:
data[(data['Medal']=='Bronze')&(data['NOC']=='AUT')].max()

Year                     2006
City                    Turin
Sport                  Skiing
Discipline      Speed skating
NOC                       AUT
Event                 super-G
Event gender                X
Medal                  Bronze
dtype: object

In [ ]:
ex3=data.groupby(['Medal'])['Medal'].count()
sum=data.groupby(['Medal'])['Medal'].count().sum()
mean=data.groupby(['Medal'])['Medal'].count().mean()
max=data.groupby(['Medal'])['Medal'].count().max()
min=data.groupby(['Medal'])['Medal'].count().min()
print("Gia tri nho nhat \n",min)
print("Gia tri lon nhat \n",max)
print("Gia tri trung binh \n",mean)
print("Gia tri tong \n",sum)

Gia tri nho nhat
 764
Gia tri lon nhat
 774
Gia tri trung binh
 770.3333333333334
Gia tri tong
 2311

In [ ]:
data.groupby((data['NOC']=='AUT')&(data['Discipline']))['Medal'].count()

False    2126
True      185
Name: Medal, dtype: int64